/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* Default light theme variables */
:root {
  /* Primary Colors */
  --ion-color-primary: #61509f;
  --ion-color-primary-rgb: 97, 80, 159;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #54488c;
  --ion-color-primary-tint: #7263b2;

  /* Secondary Colors */
  --ion-color-secondary-rgb: 96, 125, 139;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #546e7a;
  --ion-color-secondary-tint: #78909c;

  /* Light background and text colors */
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-text-color: #2b3a42;
  --ion-text-color-light: #87939b;
  --ion-text-color-rgb: 43, 58, 66;


  /* Button */
  --ion-button-primary-background: var(--ion-color-primary);
  --ion-button-primary-text-color: var(--ion-color-primary-contrast);
  --ion-button-secondary-background: var(--ion-color-secondary);
  --ion-button-secondary-text-color: var(--ion-color-secondary-contrast);

  /* Modal and Background */
  --ion-modal-background: #d7d545;
  --ion-background-color: #f6f6f6;
}

ion-fab-button {
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

ion-toolbar {
  --display: flex;
  --min-height: 80px;
}



:root {
  --background: #fff;
  /* Set your desired background color here */
}